@tailwind base;
@tailwind components;
@tailwind utilities;

.reset{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.bgleftside{
    background: rgba(97, 97, 97, 0.82);

}
.bgrightside{
    background: rgba(54, 60, 67, 1);
}
.mainbg{
    background: linear-gradient(180deg, #373E44 -100%, #191B1F 100%);
   
}
.text-shadow{
    text-shadow: 2px #000 ;
}